---
import Layout from '../../layouts/Layout.astro';
import { AnnouncementBrowser } from '../../components/announcements/AnnouncementBrowser';
---

<Layout title="Ogłoszenia - GdziePies">
  <main>
    <AnnouncementBrowser client:load />
  </main>
</Layout>

